@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font1: 'Open Sans', sans-serif;
$font2: 'Montserrat', sans-serif;
$main-color: #60d2f0;
$bold-color: #00a7db;
$light-bg1: #ecfcff;
$light-bg2: #e6f4f1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  font-family: $font2;
  background: #fff;
}
