label {
	width:80px;
	height:45px;
	position: relative;
	display: block;
	background: #ebebeb;
	border-radius: 200px;
	box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
	cursor: pointer;
	transition: 0.3s;
}

label:after {
	content: "";
	width:25px;
	height: 25px;
	position: absolute;
	top:10px;
	left:10px;
  background-image: url('../assets/moon.png');
  background-size: cover;
	border-radius: 180px;
	transition: 0.3s;
}

input[type=checkbox] {
	width: 0;
	height: 0;
	visibility: hidden;
}

input:checked + label {
	background: #242424;
}

input:checked + label:after {
	left:70px;
	transform: translateX(-100%);
  background-image: url('../assets/sun.png');
  background-size: cover;
}
