@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: auto;
  font-family: "Montserrat", sans-serif;
  background: #fff;
}

body .hidden {
  visibility: hidden;
}

.carousel {
  background: #eee;
}

.carousel-cell {
  width: 28%;
  height: 300px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #e6f4f1;
  border-radius: 50%;
  border-top: 16px solid #60d2f0;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#main-section,
header {
  display: none;
}

header {
  padding: 10px 8px 0 8px;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #219bec;
  border-radius: 30px;
  padding: 8px;
}

header nav #autocomplete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  background: #fff;
  border-radius: 25px;
  padding-right: 12px;
}

header nav #autocomplete #search {
  width: 100%;
  height: 100%;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  padding: 0 8px;
}

header nav #autocomplete #search:focus {
  outline: none;
}

header nav #autocomplete #search-icon {
  width: 15px;
}

header nav #temp-conversion {
  background: #fff;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  width: 45px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header nav button {
  width: 45px;
  height: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav button #toggle-icon {
  position: absolute;
  width: 40%;
  height: auto;
}

header #results {
  display: none;
  height: 300px;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  color: #219bec;
  overflow: auto;
  position: absolute;
  -webkit-box-shadow: 0 0 20px #222222;
          box-shadow: 0 0 20px #222222;
  z-index: 1;
  padding: 20px 10px;
}

header #results .selection {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 25px;
}

header #results .selection:hover {
  cursor: pointer;
  background: #219bec;
  color: #fff;
  font-weight: 700;
}

header #location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../../icons/map.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin: 15px 0;
}

header #location-container #location-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  background: rgba(209, 208, 208, 0.6);
}

header #location-container #location-info #location-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #location-container #location-info #location-image #location-icon {
  width: 20px;
  margin-right: 5px;
}

header #location-container #location-info #location-image #location {
  font-weight: 700;
  font-size: 14px;
}

header #location-container #location-info #lat, header #location-container #location-info #lon {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

main #main-section {
  background: #ecfaff;
  background: -webkit-gradient(linear, left bottom, left top, from(#219bec), to(white));
  background: linear-gradient(0deg, #219bec 0%, white 100%);
  border-radius: 50px 50px 0 0;
}

main #main-section #todays-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 10px 15px;
}

main #main-section #todays-date #calendar-icon {
  width: 20px;
}

main #main-section #todays-date #current-date {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

main #main-section #current-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #main-section #current-section #todays-temp #current-weather-icon {
  width: 200px;
}

main #main-section #current-section #current-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #main-section #current-section #current-info #current-day {
  font-size: 22px;
  margin-bottom: 15px;
}

main #main-section #current-section #current-info #current-temp {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
}

main #main-section #current-section #current-info #description {
  font-weight: normal;
  font-size: 16px;
}

main #main-section #daily-info {
  border: solid black;
  width: 100%;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

main #main-section #daily-info div {
  border: solid black;
}

main #main-section #daily-info div .daily-icon {
  width: 80px;
}

main #main-section #chart {
  position: relative;
}

main #main-section #chart #myChart {
  width: auto;
}
/*# sourceMappingURL=style.css.map */