@import 'base';
@import 'toggle_button';
@import 'carousel';
@import 'loader';

#main-section {
  display: none;
  text-align: center;
}

#chart {
  position: relative;
}

#myChart {
  width: auto;
}
