@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: #fff;
}

body #error {
  display: none;
}

.slider-wrapper {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.slider-wrapper .slide-arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
}

.slider-wrapper .slide-arrow:hover, .slider-wrapper .slide-arrow:focus {
  opacity: 1;
}

.slider-wrapper #slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

.slider-wrapper #slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slider-wrapper .slides-container {
  height: 250px;
  width: 100%;
  display: -webkit-box;
  list-style: none;
  margin: 0;
  padding-bottom: 30px;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider-wrapper .slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slider-wrapper .slides-container .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  height: 100%;
  padding: 10px 5px;
  border-radius: 20px;
  margin-left: 35px;
  background: rgba(255, 255, 255, 0.9);
}

.slider-wrapper .slides-container .slide .day-icon {
  width: 60px;
}

.slider-wrapper .slides-container .slide .cell-temp {
  font-weight: 700;
  color: #00a7db;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
}

.slider-wrapper .slides-container .slide .cell-description {
  font-weight: 700;
  font-size: 15px;
  color: #00a7db;
  margin-bottom: 25px;
  text-align: center;
}

.slider-wrapper .slides-container .slide .italic {
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

header {
  padding: 10px 15px 0 15px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  width: 100%;
  background: #60d2f0;
  border-radius: 30px;
  padding: 8px;
}

header nav #autocomplete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  background: #fff;
  border-radius: 25px;
  padding-right: 12px;
}

header nav #autocomplete #search {
  width: 100%;
  height: 100%;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  padding: 0 8px;
}

header nav #autocomplete #search:focus {
  outline: none;
}

header nav #autocomplete #search-icon {
  width: 15px;
}

header nav #autocomplete #search-icon:hover {
  cursor: pointer;
}

header nav #temp-conversion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  font-weight: 700;
  font-size: 14px;
  width: 45px;
  border-radius: 50px;
  cursor: pointer;
}

header nav button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 30px;
  position: relative;
  background: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav button #toggle-icon {
  position: absolute;
  width: 40%;
  height: auto;
}

header #results {
  display: none;
  height: 300px;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  color: #219bec;
  overflow: auto;
  position: absolute;
  -webkit-box-shadow: 0 0 20px #222222;
          box-shadow: 0 0 20px #222222;
  z-index: 1;
  padding: 20px 10px;
}

header #results .selection {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 25px;
}

header #results .selection:hover {
  cursor: pointer;
  background: #60d2f0;
  color: #fff;
  font-weight: 700;
}

header #location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../../icons/map.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin: 15px 0;
}

header #location-container #location-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  background: rgba(96, 210, 240, 0.8);
}

header #location-container #location-info #location-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

header #location-container #location-info #location-image #location-icon {
  width: 20px;
  margin-right: 5px;
}

header #location-container #location-info #location-image #location {
  font-weight: 700;
  font-size: 14px;
}

header #location-container #location-info #lat,
header #location-container #location-info #lon {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

main {
  background: #ecfaff;
  background: -webkit-gradient(linear, left bottom, left top, from(#60d2f0), to(white));
  background: linear-gradient(0deg, #60d2f0 0%, white 100%);
  padding: 0 15px;
}

main #main-section #todays-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  gap: 5px;
  padding: 5px 8px;
  margin-bottom: 15px;
}

main #main-section #todays-date #calendar-icon {
  width: 22px;
  background: #fff;
}

main #main-section #todays-date #current-date {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

main #main-section #current-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 10px #d5d6d6;
          box-shadow: 0 0 10px #d5d6d6;
  margin-bottom: 15px;
}

main #main-section #current-section #todays-temp #current-weather-icon {
  width: 150px;
}

main #main-section #current-section #current-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #main-section #current-section #current-info #current-day {
  font-size: 18px;
  margin-bottom: 10px;
}

main #main-section #current-section #current-info #current-temp {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
}

main #main-section #current-section #current-info #description {
  font-weight: normal;
  font-size: 16px;
}

main #main-section #daily-info {
  width: 100%;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  row-gap: 8px;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

main #main-section #daily-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
}

main #main-section #daily-info div .daily-icon {
  width: 60px;
  margin-bottom: 15px;
}

main #main-section #daily-info div span {
  width: 100%;
  font-size: 14px;
  color: #4b4949;
  padding-left: 10px;
}

main #main-section #daily-info div h3 {
  font-size: 15px;
  color: #00a7db;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 10px;
}

main #main-section #daily-info div h3 span {
  padding-left: 0;
}

main #main-section #chart {
  position: relative;
}

main #main-section #chart #myChart {
  width: auto;
  border-radius: 20px;
  margin-top: 20px;
  padding: 3px;
  background: rgba(255, 255, 255, 0.9);
}
/*# sourceMappingURL=style.css.map */